@import "../../bootstrap_config/custom.scss";

.control-button-large {
  width: 4.5rem;
  height: 4.5rem;
}

.icon-large {
  min-width: 4.5rem;
  min-height: 4.5rem;
  color: map-get($theme-colors, "accent-dark-blue");
}

.icon {
  min-width: 3rem;
  min-height: 3rem;
  color: map-get($theme-colors, "accent-dark-blue");
}

.control-button {
  width: 4rem;
  height: 4rem;
}

.flip {
  transform: scaleX(-1);
}

.control-button-small {
  width: 3rem;
  height: 3rem;
}

.icon-small {
  min-width: 2rem;
  min-height: 2rem;
}

.icon-black {
  color: map-get($theme-colors, "dark-black");
}
