@import "/bootstrap_config/custom.scss";

.task-panel {
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: $secondary !important;
}

.task-checkbox {
  border-radius: 50% !important;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
  border: 4px solid map-get($theme-colors, "accent-dark-blue") !important;
}

input[type="checkbox"]:checked {
  background-color: map-get($theme-colors, "accent-dark-blue");
  border-color: map-get($theme-colors, "accent-dark-blue") !important;
}

.task-checkbox-overdue {
  border: 4px solid map-get($theme-colors, "accent-red") !important;
}

.active-button::after {
  content: "Working";
}

.inactive-button::after {
  content: "Pending";
}
